<!DOCTYPE html>
<html lang="en" id="app">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <!-- <link rel="icon" href="img/favicon.png" sizes="32x32"> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,900' rel='stylesheet' type='text/css'>

    <!-- App Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- SEO -->
		<meta name="description" content=" Timer for meditation built with Vue.JS">
    <title>{{time | digitalClock}} | Timer for meditation built with Vue.JS</title>

    <!-- Open graph -->
		<meta property="og:type" content="website">
		<meta property="og:title" content="Vue Meditation">
		<meta property="og:description" content=" Timer for meditation built with Vue.JS">
		<meta property="og:url" content="http://afonsopacifer.github.io/vue-meditation/">
		<meta property="og:image" content="http://afonsopacifer.github.io/vue-meditation/img/share.png">

		<!-- Twitter cards -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Vue Meditation">
		<meta name="twitter:description" content=" Timer for meditation built with Vue.JS">
		<meta name="twitter:url" content="http://afonsopacifer.github.io/vue-meditation/">
		<meta name="twitter:image" content="http://afonsopacifer.github.io/vue-meditation/img/share.png">

		<!-- CSS <3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

    <input type="number" v-model="time">
    <span>{{time | digitalClock}}</span>
    <button v-on:click="start">Start</button>
    <button v-on:click="pause">Pause</button>
    <button v-on:click="reset">Reset</button>
    <br>
    ambient sound:
    <select v-model="ambientPlay">
      <option value="0" selected>none</option>
      <option value="rain">Rain</option>
      <option value="relax">Relax</option>
      <option value="interstellar">Interstellar</option>
    </select>
    alarm: <input type="checkbox" v-model="alarmStatus" checked>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script type="text/JavaScript" src="js/app.js"></script>

  </body>
</html>
